<log4net debug="false">
  <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
    <file value="..\\Logs\\Current.Log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
    <appender-ref ref="FileAppender" />
  </root>
</log4net>